<html>
  <head>
    <title>Collect News</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Collect News</h1>

    <a href='/list'>首頁</a> &nbsp;&nbsp;
    <a href= '/news/<%= news_id %>' >前一頁</a>
    <hr>

    <h2> Folder: </h2>

    <% folders.forEach(function(folder){ %>
    <p> 
        ID : <a href='/folder/<%= folder.folder_id %>'> <%= folder.folder_id %></a> &nbsp;&nbsp; 
        <form action='/add/<%= folder.folder_id %>/<%= news_id %>' method='get'>
            <button>加入</button>
        </form>      
    </p>
    <% }) %>\

    <br/><br/>

    <h2> Create Folder: </h2>

    <br/>

    <form action='/create/news/<%= news_id %>' method='get'>
        <input type='text' name='folder_id' placeholder='folderID'/>
        <input type='text' name='folder_name' placeholder='folder name'/>
        <input type='text' name='user_id' placeholder='who are you'/>
        <button>送出</button>
    </form>      

  </body>
</html>
      
