<html>
  <head>
    <title>Folder</title>
  </head>
  <body>
    <h1>Folder</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <a href='/list'>首頁</a>
    <hr>

    <h2> Folder: </h2>

    <br/>
    <p> ID: <%= folder.folder_id %> </p>
    <p> Name: <%= folder.folder_name %> </p>
    <form action='/folder/change/<%= folder.folder_id%>' method='get'>
        Open: <%= folder.open %>
        <button>更改</button>
    </form>  

    <p> News :
    <% folder.news_array.forEach(function(newsID){ %>
        <a href='/news/<%= newsID %>'> <%= newsID %></a> &nbsp;&nbsp;
    <% }) %>
    </p>

    <br/>

    <p> User :
    <% folder.user_array.forEach(function(userID){ %>
        <a href='/user/<%= userID %>'> <%= userID %></a> &nbsp;&nbsp;
    <% }) %>
    </p>

  </body>
</html>
      
