<html>
  <head>
    <title>List</title>
  </head>
  <body>
    <h1>List</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <a href='/clear'>清除</a> &nbsp;&nbsp;&nbsp;
    <a href='/submit'>提交</a>
    <hr>

    <h2> Users: </h2>

    <p>
    <% users.forEach(function(user){ %>
        <a href='/user/<%= user.fb_id %>'> <%= user.fb_id %></a> &nbsp;&nbsp;
    <% }) %>
    </p>

    <br/><br/>

    <h2> Newss: </h2>

    <p>
    <% newss.forEach(function(news){ %>
        <a href='/news/<%= news.news_id %>'> <%= news.news_id %></a> &nbsp;&nbsp;
    <% }) %>
    </p>

    <br/><br/>

    <h2> Folders: </h2>

    <p>
    <% folders.forEach(function(folder){ %>
        <a href='/folder/<%= folder.folder_id %>'> <%= folder.folder_name %></a> &nbsp;&nbsp;
    <% }) %>
    </p>

  </body>
</html>
      
