<html>
  <head>
    <title>News</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>News</h1>

    <a href='/list'>首頁</a>

    <hr>

    <h2> News: </h2>

    <br/>

    <p> ID : <%= news.news_id %> </p>

    <p> 貼文者 :
    <a href='/user/<%= news.post_user_id %>'> <%= news.post_user_id %></a>
    </p>

    <br/>
    <p> 標題: <%= news.title %> </p>
    <p> 內容: <%= news.content %> </p>
    <p> 作者: <%= news.author %> </p>
    <p> 來源: <%= news.resource %> </p>

    <br/>
    <p> 新聞時間: <%= news.news_time.toString() %> </p>
    <p> 發布時間: <%= news.post_time.toString() %> </p>

    <br/>
    <p> 點擊數: <%= news.click_amount %> </p>

    <p> public folder: </p>
    <% folders.forEach(function(folder){ %>
        <form action='/add/<%= folder.folder_id%>/<%= news.news_id%>' method='get'>
            <a href='/folder/<%= folder.folder_id %>'> <%= folder.folder_id %></a> &nbsp;&nbsp;
            <button>收藏</button>
        </form> <br/>
    <% }) %>
    <p> create folder: </p>
    <form action='/create/news/<%= news.news_id%>' method='get'>
        <input type='text' name='folder_id' placeholder='ID'/>
        <input type='text' name='folder_name' placeholder='標題'/>
        <input type='text' name='user_id' placeholder='你是誰'/>
        <button>送出</button>
    </form>
    <p> Folder ID:
    <% news.folder_array.forEach(function(folderID){ %>
        <a href='/folder/<%= folderID %>'> <%= folderID %></a> &nbsp;&nbsp;
    <% }) %> </p>

    <br/>
    <p>圖片:</p> <img src="<%= news.pic_url%>" alt="<%= news.title%>">
    <p>iframe:</p> <iframe width="550" height="309" frameborder="0" src="<%= news.iframe_url%>" alt="<%= news.title%>"></iframe>

  </body>
</html>
      
