<html>
  <head>
    <title>Submit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Submit</h1>

    <a href='/list'>首頁</a>

    <hr>

    <h2> Register: </h2>

    <br/>

    <form action='/register' method='get'>
        <input type='text' name='user_id' />
        <button>送出</button>
    </form>  

  </body>
</html>
      
