<html>
  <head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User</h1>

    <a href='/list'>首頁</a>

    <hr>

    <h2> User: </h2>

    <p> ID : <%= user.fb_id %> </p>

    <p> POST news ID:
    <% user.post.forEach(function(id){ %>
        <a href='/news/<%= id %>'> <%= id %></a> &nbsp;&nbsp;
    <% }) %> </p>

    <p> Collect folder ID: 
    <% user.collect.forEach(function(id){ %>
        <a href='/folder/<%= id %>'> <%= id %></a> &nbsp;&nbsp; 
    <% }) %> </p>


    <br/>

    <h2> create News: </h2>

    <form action='/upload/<%= user.fb_id%>' method='get'>
        <p>必填:<p/>
        <input type='text' name='news_id' placeholder='ID'/>
        <input type='text' name='news_title' placeholder='標題'/>
        <input type='text' name='news_content' placeholder='內容'/>
        <p>選填:<p/>
        <input type='text' name='news_author' placeholder='作者'/>
        <input type='text' name='news_resource' placeholder='來源'/>
        <input type='text' name='news_pic' placeholder='照片URL'/>
        <input type='text' name='news_iframe' placeholder='iframeURL'/>
        <button>送出</button>
    </form>      

    <br/>

    <h2> create Folder: </h2>

    <form action='/create/user/<%= user.fb_id%>' method='get'>
        <input type='text' name='folder_id' placeholder='ID'/>
        <input type='text' name='folder_name' placeholder='標題'/>
        <button>送出</button>
    </form>   

  </body>
</html>
      
