<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/modern-responsive.css" rel="stylesheet">
	<link href="css/modern.css" rel="stylesheet">
	<link href="css/site.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet" >
	<title>NewStream</title>
	<style type="text/css">
		.page{
			width: 890px;
			padding: 10px;
			height: 800px;
			
		}
		.row div,.page{
			border: 1px solid #DDD;
			padding: 5px;
		}
	</style>
</head>
<body>

	<div class="page">
		<div class="page-region">
		<div class="page-region-content">
		<div class="grid">
			<div class="row ">
				<div class="span6">
					<h3>威力彩上看9億　「0頭0尾」bumbler牌正夯！</h3>
					<img class="place-left" src="http://lorempixel.com/200/200/" alt="">
					<h4>資料來源：<span>NOWnews</span> </h4>
					<p class="first">
					威力彩連29槓，今(26)晚上看9億元，引發彩迷包牌熱，而跟著時事走的明牌固然不缺席。有彩迷專簽「0頭0尾」的號碼，因為他們相信「bumbler牌」會幫他們贏得彩金！
					</p>
					<p>
					國際期刊經濟學人用bumbler形容總統馬英九，引發全國熱議。彩迷當然沒放過這個議題，將某些號碼取名叫「bumbler牌」。這些號碼為01、02、03、07、08、09、10、20、30。其他的氣象牌、林益世牌或丐幫牌都有人簽。
					</p>
					<p id="yui-tmp-9">
					彩券行表示，從上午開始，業績成長迅速，且已經有人砸了20萬包牌。本次的威力彩金上看9.2億元，為史上第三高的總彩金。難怪，即使今天全台下起雨來，彩迷仍甘願冒著大雨前往彩券行簽牌。<br><br><strong>相關影音</strong><br></p>
					<a href="http://tw.news.yahoo.com/video/%E9%80%A329%E6%A7%93-%E5%A8%81%E5%8A%9B%E5%BD%A9%E7%8D%8E%E9%87%91%E4%B8%8A%E7%9C%8B9%E5%84%84%E5%85%83-050710050.html?format=embed&amp;player_autoplay=false" target="
					-blank">威力彩上看9億　「0頭0尾」bumbler牌正夯！</a>
				</div>
				<div class="span5">
					<button>留言</button>
					<button>收藏</button>
					<button>分享</button>
					
					<ul class="listview fluid" id="chat" data-count='0'>
				        
				        <li class="floor" id="last">
				            <div class="icon">
				                <img src="http://graph.facebook.com/shaverm/picture?type=square" alt="">
				            </div>
				            <div class="data">
				                <h4>kpman	</h4>
				                <div class="input-control textarea">
							        <textarea></textarea>
							        <button class="main">submit</button>
							    </div>
				            </div>
				        </li>
				    </ul>
				</div>
			
			</div>
		</div>
		</div>
		</div>
		
	</div>
	<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/tile-slider.js"></script>
	<script type="text/javascript" src="/javascripts/custom.js"></script>
	<script type="text/javascript" src="/javascripts/accordion.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		$("#chat").find('li:not(.place-right)').mouseenter(function(){
			// $(this).find('h4').append("<span id = 'reply' class='place-right'>回覆</span>");
			$("<span id = 'reply' class='place-right'>回覆</span>").appendTo($(this).find('h4'));
			// $('<p>Test</p>').appendTo('.inner');
		}).mouseleave(function(){
			$(this).find('span').remove();
		});

		// $("#chat").find('li > div.data > span').click(function(){
		// 	alert("test");
		// 	var $this = $(this).parent().parent();
		// 	$this.find('li:not(.place-right):first').append("test");
		// });

		$('#reply').live("click",function(){
			var temp = $(this).parent().parent().parent();
			var temp2 = '<li class="place-right" id="#usr_chat"><div class="icon"><img src="http://graph.facebook.com/shaverm/picture?type=square" alt=""></div><div class="data"><h4>kpman	</h4> <div class="input-control textarea"><textarea></textarea><button class="place-right">submit</button></div></div></li>';

			var temp3 = '<li>test</li>'
			temp.find('~li.blank').before(temp2);
		});

		$('button.main').on("click",function(){
			var temp = $(this).parent().parent().parent();
			var id=parseInt($('ul.listview fluid').data('count'))+1;
			$('ul.listview fluid').data('count',id);
			var text = $(this).parent().find('textarea').val();
			$(this).parent().find('textarea').val("");
			var temp2 = '<li class="floor" id="'+id+'"><div class="icon"><img src="http://graph.facebook.com/shaverm/picture?type=square" alt=""></div><div class="data"><h4>kpman	</h4><p>'+text+'</div></li>';

			var temp3 = '<li>test</li>'
			temp.before(temp2);
			var url = '/news/1/'+ id;
			$.post(url,{'reply':text},function(result){
				console.log('done');
				console.log(result);
			});
		});

		$('button.place-right').live("click",function(){
			var temp = $(this).parent().parent().parent();
			var text = $(this).parent().find('textarea').val();
			$(this).parent().find('textarea').val("");
			var temp2 = '<li class="place-right" id="#usr_chat"><div class="icon"><img src="http://graph.facebook.com/shaverm/picture?type=square" alt=""></div><div class="data"><h4>kpman	</h4><p>'+text+'</div></li>';

			var temp3 = '<li>test</li>'
			temp.before(temp2);
			$.post('/news/1/-1',{'reply':text},function(result){
				console.log('done2');
				console.log(result);
			});
		});
	});
	</script>
</body>
</html>