@charset "UTF-8";
/* ========= */
/* CSS Reset */
/* ========= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 175%;
  line-height: 2.5em;
}

html > body {
  font-size: 28px;
}

/* ============== */
/* general styles */
/* ============== */
html {
  height: 100%;
  background: #4f4f4f;
}

body, input {
  color: white;
  font-family: "文泉驛微米黑", "微軟正黑體", sans-serif;
}

#placeholder {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

/* =============== */
/* ul lists styles */
/* =============== */
ul.delete, ul.done {
  position: fixed;
  width: 15%;
  height: 95%;
  top: 2.5%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
ul.delete::before, ul.done::before {
  /* pseudo element */
  position: absolute;
  width: 24px;
  bottom: 0.5em;
  font-size: 0.857em;
  line-height: 2.917em;
  line-height: 1.25em;
}

ul.delete {
  /* styles */
  border: 3px solid black;
  border-left: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* positioning & animation */
  left: -10px;
  opacity: 0;
}
ul.delete::before {
  /* pseudo element */
  content: "刪除";
  right: 8px;
}

ul.done {
  /* styles */
  border: 3px solid white;
  border-right: 0;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* positioning & animation */
  right: -10px;
  opacity: 0;
}
ul.done::before {
  /* pseudo element */
  content: "完成";
  left: 8px;
}

ul.main {
  width: 70%;
  margin-left: 15%;
  padding-top: 30px;
  text-shadow: 0 -1px 1px black;
  z-index: 1;
}
ul.main li {
  margin: 0 -22.429%;
  padding: 0 0.5em;
  line-height: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px rgba(0, 0, 0, 0.5);
  /* colorful <li>s */
  /* The element that is being dragged */
}
ul.main li:nth-child(6n+1) {
  background-image: -webkit-linear-gradient(#a53333, #922d2d);
  background-image: linear-gradient(#a53333, #922d2d);
}
ul.main li:nth-child(6n+2) {
  background-image: -webkit-linear-gradient(#d67a37, #ca6d29);
  background-image: linear-gradient(#d67a37, #ca6d29);
}
ul.main li:nth-child(6n+3) {
  background-image: -webkit-linear-gradient(#cfaf36, #bea02d);
  background-image: linear-gradient(#cfaf36, #bea02d);
}
ul.main li:nth-child(6n+4) {
  background-image: -webkit-linear-gradient(#a2b535, #90a12f);
  background-image: linear-gradient(#a2b535, #90a12f);
}
ul.main li:nth-child(6n+5) {
  background-image: -webkit-linear-gradient(#66b736, #5ba330);
  background-image: linear-gradient(#66b736, #5ba330);
}
ul.main li:nth-child(6n) {
  background-image: -webkit-linear-gradient(#38b78c, #32a37d);
  background-image: linear-gradient(#38b78c, #32a37d);
}
ul.main li.ui-sortable-helper {
  -webkit-transform: scale(1.1) rotate(3deg);
  transform: scale(1.1) rotate(3deg);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px rgba(0, 0, 0, 0.5), 0 4px 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px rgba(0, 0, 0, 0.5), 0 4px 7px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
}

#add {
  position: fixed;
  width: 100%;
  height: 30px;
  padding: 0;
  /* styles */
  font-weight: bold;
  background: #666666;
  border: 0;
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

/* spinner */
.spin{
  width: 30px;
  height: 30px;
  display: none;
}

/* ======================================== */
/* functional styles required by Javascript */
/* ======================================== */
.dragging ul.delete, .dragging ul.done {
  opacity: 1;
}

.deleting ul.delete {
  left: 0;
}

.doing ul.done {
  right: 0;
}

ul.main li input {
  display: none;
  width: 100%;
  height: 70px;
  border: 0;
  padding: 0;
  background: transparent;
  line-height: 2.5em;
  font-size: 1em;
  line-height: 2.5em;
}
ul.main li input:focus {
  /* remove focus outline */
  outline: 0;
}
ul.main li.editing {
  background: #999999;
  background-image: -webkit-linear-gradient(#999999, #8c8c8c);
  background-image: linear-gradient(#999999, #8c8c8c);
}
ul.main li.editing input {
  display: block;
}
ul.main li.editing .text {
  display: none;
}
ul.main li.done {
  text-decoration: line-through;
  color: #666666;
  background-image: -webkit-linear-gradient(#333333, #262626);
  background-image: linear-gradient(#333333, #262626);
}

/* Class 'loading' toggles spin. */
.loading .spin{
  display: inline-block;
}

.loading .plus{
  display: none;
}
